@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Variables */
:root {
  --dc-primary: rgb(2 130 249);
  --dc-bg-primary: rgb(28 28 28);
  --dc-bg-secondary: rgb(48 48 48);
  --header-height: 100px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.active {
  border-block-end: 0.4rem solid var(--dc-primary);
  color: var(--dc-primary);
}

/* Header */
header img {
  padding: 1rem 0;
}

header a,
header img {
  height: var(--header-height);
}

header ul {
  display: flex;
  gap: 1rem;
}

header ul li {
  list-style: none;
  height: var(--header-height);
  color: black;
  &:hover {
    cursor: pointer;
    border-block-end: 0.4rem solid var(--dc-primary);
  }
  &:hover a {
    color: var(--dc-primary);
  }
}

header ul a {
  text-decoration: none;
  color: inherit;
  line-height: var(--header-height);
  text-transform: uppercase;
  font-weight: 600;
  /* letter-spacing: normal; */
}

/* Content */
.jumbotron {
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./src/assets/img/jumbotron.jpg");
}

.content {
  background-color: var(--dc-bg-primary);
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 3rem;
}

.comics-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.3rem 0.9rem;
  max-width: fit-content;
  margin-top: -4.5rem;
  background-color: var(--dc-primary);
}

.load-more-button {
  color: white;
  border: 0;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.6rem 3rem;
  display: block;
  margin: 0 auto;
  background-color: var(--dc-primary);

  &:hover {
    color: rgb(255 255 255 / 90%);
    background-color: rgb(2 130 249 / 70%);
    cursor: pointer;
  }
}

/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.card {
  font-size: 0.8rem;
  text-transform: uppercase;

  .img-container {
    height: 10rem;
    width: 10rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
  }

  div {
    padding: 0.5rem 0;
    max-width: 10rem;
  }
}

/* Banner */
.banner {
  background-color: var(--dc-primary);
  padding: 2.5rem;
}

.banner-element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

.banner-element a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9rem;
  min-width: 150px;
  color: white;
}

.banner-element img {
  display: inline-block;
  max-height: 50px;
  max-width: 50px;
}

/* Footer */
.site-links {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./src/assets/img/footer-bg.jpg");

  .row {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    max-height: 450px;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
  }

  h3 {
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
  }

  li {
    padding: 0.2rem 0;
    &:hover {
      cursor: pointer;
    }
  }

  a {
    color: gray;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  .logo {
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -4rem;
    background-image: url("./src/assets/img/dc-logo-bg.png");
  }
}

.socials {
  background-color: var(--dc-bg-secondary);
  text-transform: capitalize;
  padding: 1rem 0;
}

.signup {
  border: 2px solid var(--dc-primary);
  padding: 0.6rem;
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
      cursor: pointer;
    }
  }
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  span {
    color: var(--dc-primary);
    text-transform: uppercase;
    font-weight: 700;
  }

  img {
    height: 25px;
    width: 25px;
  }
}
