@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Variables */
:root {
  --dc-primary: rgb(2 130 249);
  --dc-bg-primary: rgb(28 28 28);
  --dc-bg-secondary: rgb(48 48 48);
  --header-height: 100px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Header */
header {
  padding: 1rem 0;
}

header img {
  height: 100px;
}

header ul {
  display: flex;
  gap: 1rem;
}

header ul li {
  list-style: none;
  height: var(--header-height);
  &:hover {
    cursor: pointer;
    border-block-end: 0.4rem solid var(--dc-primary);
  }
  &:hover a {
    color: var(--dc-primary);
  }
}

header ul a {
  text-decoration: none;
  color: black;
  line-height: var(--header-height);
  text-transform: uppercase;
  font-weight: 600;
  /* letter-spacing: normal; */
}

/* Content */
.content {
  background-color: var(--dc-bg-primary);
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 3rem;
}

/* Banner */
.banner {
  background-color: var(--dc-primary);
  padding: 2.5rem;
}

.banner-element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.banner-element span {
  text-transform: uppercase;
  font-size: 0.9rem;
  min-width: 150px;
  color: white;
}

.banner-element img {
  display: inline-block;
  max-height: 50px;
  max-width: 50px;
}
